
{% block title %}Home!{% endblock %}

{% block body %}
<form method="post">
    {# {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %} #}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    {% if is_granted('ROLE_USER') %}
        your role 
        {% for role in roles %}
            {{role}}
        {% endfor %}
    {% else %}
        <a href="{{url('login')}}"></a>
    {% endif %}
</form>
{% endblock %}
